$tables: ingredient, menu, combo;

@each $name in $tables {
  ##{$name}Table_wrapper {
    .dt-search {
      .dt-input {
        margin-right: 0 !important;
      }
    }

    ##{$name}Table {
      width: 100%;

      ##{$name}TableBody {
        td {
          vertical-align: middle;
          padding: 0 !important;

          img.#{$name}-image {
            width: 70px;
            height: 70px;
            object-fit: cover;
            margin: 0 auto;
            cursor: pointer;
            padding: 0.375rem;
          }

          select.form-select-sm {
            border: none;
            box-shadow: none;
          }

          input.form-control[type='text'] {
            padding: 0.5rem 0.75rem !important;
          }

          span,
          input {
            &.text {
              text-align: left;
            }

            &.number {
              text-align: right;
              padding: 0.375rem 0.5rem;
            }
          }
        }
      }
    }
  }
}

// Container image + overlay
.table-image-container {
  display: block;
  margin: 0 auto;
  position: relative;

  &.no-image {
    width: 70px;
    height: 70px;
  }

  img {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 8px;

    &.no-image {
      border-radius: 6px;
      opacity: 0.3;
    }
  }

  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
    opacity: 0;

    &.has-image {
      background: var(--black);
    }

    &.no-image {
      background: var(--light);
      border: 1px dashed var(--muted);
      border-radius: 6px;
    }
  }

  &:hover .image-overlay {
    opacity: 1;
  }
}

// button in overlay
.image-overlay .btn {
  --bs-btn-padding-y: 0.25rem;
  --bs-btn-padding-x: 0.4rem;
  --bs-btn-font-size: 0.75rem;
}

#ingredientStockTableBody,
#comboTableBody {
  span {
    display: block;
    padding: 0.5rem 0.75rem !important;
  }
}

table {
  thead {
    th {
      &:first-child {
        vertical-align: middle;

        input[type='checkbox'] {
          text-align: center;
          vertical-align: middle;
          cursor: pointer;

          &:hover {
            cursor: pointer;
          }
        }
      }

      &.text {
        text-align: left;
        padding: 0.375rem 0.5rem;
      }

      &.number {
        text-align: right;
        padding: 0.375rem 0.5rem;
      }
    }
  }

  tbody {
    td {
      input[type='checkbox'] {
        display: block;
        margin: auto;
      }

      text-align: left;
      vertical-align: middle;
      padding: 0 !important;

      &:first-child {
        input[type='checkbox'] {
          &:hover {
            cursor: pointer;
          }
        }
      }

      input.form-control[type='text'] {
        padding: 0.5rem 0.75rem !important;
      }

      .form-control {
        border: none !important;
      }

      select.form-select-sm {
        border: none;
        box-shadow: none !important;
      }

      .form-control-sm {
        border: none;
        box-shadow: none !important;
        padding: 0.5rem 0.75rem !important;
        border-radius: 0 !important;
      }

      .form-select-sm {
        padding: 0.5rem 0.75rem !important;
        border-radius: 0 !important;
      }

      span,
      input {
        &.text {
          text-align: left;
          padding: 0.375rem 0.5rem;
        }

        &.number {
          text-align: right;
          padding: 0.375rem 0.5rem;
        }
      }
    }
  }
}

.form-select {
  box-shadow: none !important;
}

.updateUserBtn {
  margin: 10px;
}

.select2-hidden-accessible {
  display: none !important;
}

.select2-container--default {
  display: block !important;
  padding: 0 !important;

  .selection {
    display: block !important;
    padding: 0 !important;

    .select2-selection {
      display: block !important;
      width: 100% !important;
      padding: 0.5rem;

      .select2-selection__rendered {
        padding: 0 !important;
      }
    }
  }

  .select2-results__options {
    position: relative;
    background-color: var(--white);
    list-style: none;
    padding-left: 0px;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid var(--success);
    z-index: 10;

    .select2-results__option {
      padding-left: 4px;

      &:hover {
        background-color: var(--link) !important;
        color: var(--white);
        cursor: pointer;
      }

      &--highlighted {
        background-color: var(--link) !important;
        color: var(--white);
      }

      &--selected {
        background-color: var(--link) !important;
        color: var(--white);
      }
    }
  }
}

.select2-dropdown {
  display: block !important;

  .select2-search__field {
    width: 100%;
    position: relative;
    z-index: 10;
  }
}

.ms-5 {
  .select2-container--default {
    border-bottom: 1px solid var(--danger);
  }
}

#imageCropModal {
  .modal-dialog {
    max-width: 810px;
  }

  .modal-body {
    max-height: 80vh;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img#imagePreview {
    display: block;
    max-width: 100%;
    max-height: 80vh;
    height: auto;
  }

  .cropper-container {
    max-width: 100%;
    max-height: 70vh;
  }
}

.image-square {
  width: 150px;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
  border: 1px solid var(--gray-light);
}

#orgLogoPreview {
  border-radius: 50%;
  max-width: 120px;
  max-height: 120px;
  object-fit: contain;
  border: 1px solid #ccc;
  padding: 5px;
}

.org-logo-container {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  img.org-logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    transition: 0.3s ease;
    cursor: pointer;

    &.no-image {
      opacity: 0.3;
      background: #f8f9fa;
    }
  }

  .org-logo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    border-radius: 50%;
    transition: opacity 0.3s ease;

    &.has-image {
      background: rgba(0, 0, 0, 0.5);
    }

    &.no-image {
      background: rgba(200, 200, 200, 0.2);
      border: 1px dashed #ccc;
    }
  }

  &:hover {
    .org-logo-overlay {
      opacity: 1;
    }
  }

  .org-logo-overlay .btn {
    --bs-btn-padding-y: 0.3rem;
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-font-size: 0.8rem;
    border-radius: 50%;
  }
}

.org-logo-bill {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  object-fit: contain;
}

#resetProvince {
  right: 17px;
  bottom: 5.5px;
}

.top-bar {
  .dt-search {
    .dt-input {
      margin-top: 0.5rem !important;
      margin-bottom: 0.5rem !important;
    }
  }
}

//================= Common Styles =================//

textarea {
  resize: none;
  overflow-y: hidden;
  scrollbar-width: none; // Firefox
  -ms-overflow-style: none; // IE, Edge cũ

  &::-webkit-scrollbar {
    display: none; // Chrome, Safari
  }
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

//================= Responsive =================//

@media (max-width: 767px) {
  #imageCropModal {
    .modal-body {
      max-height: 150px;
    }
  }

  .w-md {
    width: 100% !important;
  }
}

@media (min-width: 768px) {
  /* md breakpoint = 768px */
  .w-md {
    width: 35% !important;
  }
}

@media print {
  #entry-detail,
  #issue-detail,
  #transfer-detail {
    thead th:last-child,
    tbody td:last-child {
      display: none;
    }
  }

  body {
    margin: 0;
    font-size: 12px;
  }

  .container,
  .container-xxl {
    width: 100% !important;
    max-width: 100% !important;
    padding: 0;
    margin: 0;
  }

  .card {
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
  }

  .card-header,
  .card-body {
    padding: 8px !important;
  }

  table {
    width: 100%;
    border-collapse: collapse !important;
    font-size: 12px;
  }

  table th,
  table td {
    padding: 4px !important;
  }

  .no-print,
  .btn,
  a,
  i.bi {
    display: none !important;
  }

  h1,
  h5,
  p {
    margin: 2px 0 !important;
  }

  @page {
    size: A4 portrait;
    margin: 10mm;
  }
}
