$orange-800: #9a3412;
.table-card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    filter: brightness(1.1);
    cursor: pointer;
  }
}
.my-orange {
  background-color: $orange-800;
}

.table-order {
  position: relative;

  #tableGrid {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    opacity: 0;
    pointer-events: none;
    z-index: 0;
    background-color: transparent;
    transition: all 0.3s ease;

    &.show {
      display: flex;        
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;      
      opacity: 1;
      pointer-events: auto;
      z-index: 10;
      background-color: #fff;
    }
  }
    .btn-select-table {
    margin-bottom: 15px;
  }
}
