$orange-800: #9a3412;
.table-card {
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    filter: brightness(1.1);
    cursor: pointer;
  }
}
.my-orange {
  background-color: $orange-800;
}

.table-order {
  position: relative;

  #tableGrid {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    opacity: 0;
    pointer-events: none;
    z-index: 0;
    background-color: transparent;
    transition: all 0.3s ease;

    &.show {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
      opacity: 1;
      pointer-events: auto;
      z-index: 10;
      background-color: #fff;
      width: 100%;
    }
  }
  .btn-select-table {
    margin-bottom: 15px;
  }
}

.invoice-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  border-top: 1px solid #000;

  thead {
    border-bottom: 1px solid #000;
  }

  th,
  td {
    padding: 6px 8px;
    border: none;
  }

  th.stt,
  td.stt {
    width: 5%;
    text-align: center;
    padding-left: 0;
  }

  th.name,
  td.name {
    width: 35%;
    text-align: left;
    padding-left: 0;
  }

  th.price,
  td.price,
  th.qty,
  td.qty,
  th.total,
  td.total {
    width: 5%;
    text-align: center;
  }

  tbody tr {
    border-bottom: 1px solid #000;
  }

  tbody tr:last-child {
    border-bottom: 1px solid #000;
  }
}

.summary {
  p {
    display: flex;
    align-items: center;

    span:last-child,
    strong:last-child {
      margin-left: auto;
      text-align: right;
    }
  }
}

.qr-code {
  width: 150px;
  height: 150px;
}
