$orange-800: #9a3412;
.table-card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    filter: brightness(1.1);
    cursor: pointer;
  }
}
.my-orange {
  background-color: $orange-800;
}