<%- include('../partials/header.html') %>

  <% if (userRole==="Admin" ) { %>
    <%- include('../partials/admin_sidebar.html') %>
      <% } else if (userRole==="Org" ) { %>
        <%- include('../partials/org_sidebar.html') %>
          <% } else if (userRole==="Member" ) { %>
            <%- include('../partials/staff_sidebar.html') %>
              <% } %>

                <div class="admin__content">
                  <h3 class="fw-bold mb-4">
                    <%= pageTitle %>
                  </h3>
                  <div class="mt-md-5">
                    <form id="update-password-form" class="update-password-form">
                      <div class="mb-3">
                        <input type="password" class="p-2 d-block w-md" id="currentPassword" name="currentPassword"
                          placeholder="Mật khẩu hiện tại" autocomplete="current-password">
                      </div>
                      <div class="mb-3">
                        <input type="password" class="p-2 d-block w-md" id="new-password" name="newPassword"
                          placeholder="Mật khẩu mới" autocomplete="new-password">
                      </div>
                      <div class="mb-3">
                        <input type="password" class="p-2 d-block w-md" id="new-confirm-password"
                          name="confirmNewPassword" placeholder="Xác nhận mật khẩu mới" autocomplete="new-password">
                      </div>
                      <button type="submit" class="btn btn-outline-primary rounded-0">Đổi mật
                        khẩu</button>
                  </div>
                </div>
                </div>
                </div>
                </div>

                <%- include('../partials/commonjs.html') %>
                  <input type="hidden" id="currentUserId" value="<%= currentUserId %>">
                  <script src="/js/sidebar-toggle.js"></script>
                  <script src="/js/data-table.js"></script>
                  <% if (userRole==="Admin" ) { %>
                    <script src="/js/admin/admin-org.js"></script>
                    <% } %>
                      <script src="/js/update-password.js"></script>

                      <%- include('../partials/footer.html') %>