<%- include('../partials/header.html') %>

  <% if (userRole==="Admin" ) { %>
    <%- include('../partials/admin_sidebar.html') %>
      <% } else if (userRole==="Org" ) { %>
        <%- include('../partials/org_sidebar.html') %>
          <% } else if (userRole==="Staff" ) { %>
            <%- include('../partials/staff_sidebar.html') %>
              <% } %>

                <div class="admin__content">
                  <h3 class="fw-bold mb-4">
                    <%= pageTitle %>
                  </h3>
                  <div class="card shadow-sm rounded-3 px-4 py-5 mt-md-5 mw-500">
                    <form id="update-password-form" class="update-password-form">
                      <div class="mb-3 position-relative">
                        <input type="password" class="form-control rounded-pill pe-5" id="currentPassword"
                          name="currentPassword" placeholder="Mật khẩu hiện tại" autocomplete="current-password">
                        <i class="bi bi-eye-slash toggle-password d-none" data-target="currentPassword"></i>
                      </div>
                      <div class="mb-3 position-relative">
                        <input type="password" class="form-control rounded-pill pe-5" id="new-password"
                          name="newPassword" placeholder="Mật khẩu mới" autocomplete="new-password">
                        <i class="bi bi-eye-slash toggle-password d-none" data-target="new-password"></i>
                      </div>
                      <div class="mb-3 position-relative">
                        <input type="password" class="form-control rounded-pill pe-5" id="new-confirm-password"
                          name="confirmNewPassword" placeholder="Xác nhận mật khẩu mới" autocomplete="new-password">
                        <i class="bi bi-eye-slash toggle-password d-none" data-target="new-confirm-password"></i>
                      </div>
                      <button type="submit" class="btn btn-outline-primary rounded-pill d-block w-100">Đổi mật khẩu
                      </button>
                    </form>
                  </div>
                </div>
                </div>
                </div>
                </div>

                <%- include('../partials/commonjs.html') %>
                  <input type="hidden" id="currentUserId" value="<%= currentUserId %>">
                  <script src="/js/sidebar-toggle.js"></script>
                  <script src="/js/data-table.js"></script>
                  <% if (userRole==="Admin" ) { %>
                    <script src="/js/admin/admin-org.js"></script>
                    <% } %>
                      <script src="/js/update-password.js"></script>

                      <%- include('../partials/footer.html') %>