<%- include('../partials/header.html') %>
  <%- include('../partials/org_sidebar.html') %>
    <div class="admin__content">
      <h2>
        <%= pageTitle %>
      </h2>
      <div class="invoiceOptions">
        <form id="invoiceOptionsForm">
          <!-- Header -->
          <h5>Header</h5>
          <div class="mb-3">
            <label>Logo</label>
            <input type="file" class="form-control" name="logo">
          </div>
          <div class="mb-3">
            <label>Tên cửa hàng</label>
            <input type="text" class="form-control" name="storeName">
          </div>
            <div class="mb-3">
            <label>Tiêu đề</label>
            <input type="text" class="form-control" name="invoiceTitle">
          </div>
          <div class="mb3">
            <label>Tỉnh/Thành</label>
            <select class="form-control" name="orgProvince" id="orgProvince"></select>
          </div>
          <div class="mb3">
            <label>Xã/Phường</label>
            <select class="form-control" name="orgCommune" id="orgCommune"></select>
          </div>
          <div class="mb-3">
            <label>Số nhà/Đường</label>
            <input type="text" class="form-control" id="orgStreet" name="orgStreet">
          </div>
          <hr>
          <!-- Footer -->
          <h5>Footer</h5>
          <div class="mb-3">
            <label>Dòng 1</label>
            <input type="text" class="form-control" name="footerLine1">
          </div>
          <div class="mb-3">
            <label>Dòng 2</label>
            <textarea class="form-control" name="footerLine2"></textarea>
          </div>
          <div class="mb-3">
            <label>Hotline</label>
            <input type="text" class="form-control" name="hotline">
          </div>

          <button type="submit" class="btn btn-primary">Lưu cài đặt</button>
        </form>
      </div>

    </div>
    </div>
    <input type="hidden" id="currentUserId" value="<%= currentUserId %>" />

    <%- include('../partials/commonjs.html') %>
      <script src="/js/sidebar-toggle.js"></script>
      <%- include('../partials/footer.html') %>