<%- include('../partials/header.html') %>
  <%- include('../partials/org_sidebar.html') %>
    <div class="admin__content">
      <h2>
        <%= pageTitle %>
      </h2>
      <div class="invoiceOptions">
        <form id="invoiceOptionsForm">
          <h5>Header</h5>
          <div class="row">
            <div class="mb-3 col-md-6">
              <label>Logo</label>
              <input type="file" class="invoice-field form-control" name="logo">
            </div>
            <div class="mb-3 col-md-6">
              <label>Tên cửa hàng</label>
              <input type="text" class="invoice-field form-control" name="storeName">
            </div>
            <div class="mb-3 col-md-6">
              <label>Tiêu đề</label>
              <input type="text" class="invoice-field form-control" name="invoiceTitle">
            </div>
            <div class="mb-3 col-md-6">
              <label>Tiền tố hóa đơn</label>
              <input type="text" class="invoice-field form-control" name="prefixInvoice">
            </div>
            <div class="mb-3 col-md-6 position-relative">
              <label>Tỉnh/ Thành</label>
              <select class="invoice-field" name="orgProvince" id="orgProvince"></select>
              <button type="button" class="btn btn-sm btn-outline-secondary position-absolute " id="resetProvince">
                <i class="bi bi-arrow-counterclockwise"></i>
              </button>
            </div>
            <div class="mb-3 col-md-6">
              <label>Xã/ Phường</label>
              <select class="invoice-field form-control" name="orgCommune" id="orgCommune"></select>
            </div>
            <div class="mb-3 col-md-6">
              <label>Số nhà/ Đường</label>
              <input type="text" class="invoice-field form-control" id="orgStreet" name="orgStreet">
            </div>
          </div>
          <!-- Header -->
          <hr>
          <!-- Footer -->
          <h5>Footer</h5>
          <div class="mb-3">
            <label>Dòng 1</label>
            <input type="text" class="invoice-field form-control" name="footerLine1">
          </div>
          <div class="mb-3">
            <label>Dòng 2</label>
            <textarea class="invoice-field form-control" name="footerLine2"></textarea>
          </div>
          <div class="mb-3">
            <label>Hotline</label>
            <input type="text" class="invoice-field form-control" name="hotline">
          </div>
        </form>
      </div>

    </div>
    </div>
    <input type="hidden" id="currentOrgId" value="<%= userRole === 'Admin' ? (session.currentOrg || '') : (currentOrgId || '') %>">
    <input type="hidden" id="currentUserId" value="<%= currentUserId %>" />

    <%- include('../partials/commonjs.html') %>
      <script src="/js/sidebar-toggle.js"></script>
      <script src="/js/invoice.js"></script>
      <%- include('../partials/footer.html') %>