.table-card {
  -webkit-transition: -webkit-transform 0.2s ease, -webkit-box-shadow 0.2s ease;
  transition: -webkit-transform 0.2s ease, -webkit-box-shadow 0.2s ease;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  transition: transform 0.2s ease, box-shadow 0.2s ease, -webkit-transform 0.2s ease, -webkit-box-shadow 0.2s ease;
}
.table-card:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
  cursor: pointer;
}

.my-orange {
  background-color: #9a3412;
}

.table-order {
  position: relative;
}
.table-order #tableGrid {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  opacity: 0;
  pointer-events: none;
  z-index: 0;
  background-color: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.table-order #tableGrid.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 1;
  pointer-events: auto;
  z-index: 10;
  background-color: #fff;
}