<%- include('../partials/header.html') %>
    <%- include('../partials/org_sidebar.html') %>
        <div class="admin__content">
            <h2 class="mb-4 bold semi-bold">
                <%= pageTitle %>
            </h2>

            <table class="table table-bordered" id="couponTable">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" id="selectAll">
                        </th>
                        <th>Mã</th>
                        <th>Loại giảm</th>
                        <th>Giá trị</th>
                        <th>Mô tả</th>
                        <th>Ngày bắt đầu</th>
                        <th>Ngày kết thúc</th>
                        <th>Lượt dùng / Giới hạn</th>
                        <th>Lượt đã sử dụng</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody id="couponTableBody"></tbody>
            </table>
        </div>

        </div>
        </div>
        <input type="hidden" id="currentUserId" value="<%= currentUserId %>">
        <%- include('../partials/commonjs.html') %>
            <script src="/js/sidebar-toggle.js"></script>
            <script src="/js/update-user.js"></script>
            <script src="/js/data-table.js"></script>
            <script src="/js/coupon.js"></script>
            <%- include('../partials/footer.html') %>