<%- include('../partials/header.html') %>
<%- include('../partials/staff_sidebar.html') %>

    <div class="staff__content">
      <h1>Quản lý Bàn</h1>
      
      <div class="d-flex justify-content-between align-items-center mb-3">
        <div >
            <button id="btnShowForm" class="btn btn-outline-success">
              <i class="bi bi-plus me-1"></i> Thêm bàn
            </button>
            <button id="btnEditTable" class="btn btn-outline-info">
               <i class="bi bi-pencil me-1"></i> Cập nhật
            </button>
            <button id="btnDeleteTable" class="btn btn-outline-danger"> 
              <i class="bi bi-trash me-1"></i> Xóa bàn
            </button>
            <button id="btnAssignTable" class="btn btn-outline-primary">
              <i class="bi bi-clock me-1"></i> Giao bàn
            </button>
        </div>
          <div class="search-form d-flex align-items-center" id="search-container">
            <input type="text" id="searchUserInput" class="form-control me-2" placeholder="Search" />
          </div>
      </div>

        <!-- Form add -->
        <form id="formAddTable" class="mb-4 d-none">
          <div class="form-row d-flex flex-wrap gap-2">
                <div>
                  <label for="name">Tên bàn:</label>
                  <input type="text" name="name" id="name" class="form-control" required>
                </div>
                <div>
                  <label for="status">Trạng thái:</label>
                  <select name="status" id="status" class="form-control" required>
                    <option value="available">Trống</option>
                    <option value="occupied">Có khách</option>
                  </select>
                </div>
                <div>
                  <label for="capacity">Số người:</label>
                  <input type="number" name="capacity" id="capacity" class="form-control" min="1">
                </div>
                <div>
                  <label for="area">Khu vực:</label>
                  <select name="area" id="area" class="form-control" required>
                    <option value="kv1">KV1</option>
                    <option value="kv2">KV2</option>
                  </select>
                </div>
                <div class="align-self-end">
                  <button type="submit" class="btn btn-dark">Save</button>
                </div>
          </div>
        </form>


        <!-- Modal cập nhật bàn -->
        <div class="modal fade" id="updateTableModal" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Cập nhật bàn</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>
              <div class="modal-body">
                <label for="update-name" class="form-label">Tên bàn</label>
                <input id="update-name" class="form-control mb-2" placeholder="Tên bàn" />
                <label for="update-status" class="form-label">Trạng thái</label>
                <select id="update-status" class="form-control mb-2">
                  <option value="available">Trống</option>
                  <option value="occupied">Có khách</option>
                </select>
                <label for="update-capacity" class="form-label">Số Lượng Người</label>
                <input id="update-capacity" class="form-control mb-2" type="number" placeholder="Số Lượng Người" />
                <label for="update-area" class="form-label">Khu vực</label>
                <select id="update-area" class="form-control mb-2">
                  <option value="kv1">KV1</option>
                  <option value="kv2">KV2</option>
                </select>
              </div>
              <div class="modal-footer">
                <button id="btnUpdateTable" class="btn btn-primary">Cập nhật</button>
              </div>
            </div>
          </div>
        </div>

          <!-- GRID -->
          <div id="tableGrid" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mt-4"></div>
      </div>

</div>
</div>
<input type="hidden" id="currentUserId" value="<%= currentUserId %>">



<%- include('../partials/commonjs.html') %>
<script src="/js/sidebar-toggle.js"></script>
<script src="/js/update-user.js"></script>
<script src="/js/tables.js"></script>
<%- include('../partials/footer.html') %>