<%- include('../partials/header.html') %>
  <%- include('../partials/org_sidebar.html') %>
    <div class="admin__content">
      <h2 class="mb-3 bold semi-bold">
        <%= pageTitle %>
      </h2>

      <table id="menuTable" class="table table-bordered">
        <thead>
          <tr>
            <th>
              <input type="checkbox" id="selectAll">
            </th>
            <th>SKU</th>
            <th>Ảnh</th>
            <th>Tên</th>
            <th>Danh mục</th>
            <th>Giá</th>
            <th>Mô tả</th>
            <th>Trạng thái</th>
          </tr>
        </thead>
        <tbody id="menuTableBody">

        </tbody>
      </table>
    </div>

    </div>
    </div>
    <%- include('../partials/cropper_modal.html') %>
      <input type="hidden" id="currentUserId" value="<%= currentUserId %>">
      <%- include('../partials/commonjs.html') %>
        <script src="/js/sidebar-toggle.js"></script>
        <script src="/js/data-table.js"></script>
        <script src="/js/menu/menu-item.js"></script>
        <%- include('../partials/footer.html') %>