<%- include('../partials/header.html') %>

  <body class="bg-light">

    <div class="container py-5">
      <div class="text-center mb-5">
        <h2 class="fw-bold">Xác nhận đăng ký gói dịch vụ</h2>
        <p class="text-muted">Vui lòng kiểm tra thông tin gói trước khi xác nhận</p>
      </div>

      <div id="checkoutCard" class="card shadow-sm mx-auto rounded-4 mw-600">
        <div class="card-body">
          <div class="mb-3">
            <h4 id="planName" class="fw-bold"></h4>
            <div id="planDesc" class="text-muted"></div>
          </div>

          <hr>

          <div class="d-flex justify-content-between align-items-end">
            <span>Thời hạn gói dịch vụ:</span>
            <strong id="planMode"></strong>
          </div>

          <div class="d-flex justify-content-between align-items-end">
            <span>Giá:</span>
            <strong id="planPrice" class="text-primary fs-5"></strong>
          </div>

          <hr>

          <div class="row align-items-end">
            <div class="col-md-4">
              <span>Mã giảm giá:</span>
            </div>
            <div class="col-md-8">
              <form id="couponForm" class="input-group justify-content-end">
                <input id="planDiscountCode" class="form-control shadow-sm text-primary fs-5"
                  placeholder="Nhập mã giảm giá" autocomplete="off">
                <button type="submit" class="btn btn-primary btn-apply-coupon">
                  Áp dụng
                </button>
              </form>
            </div>
          </div>


          <div class="d-flex justify-content-between align-items-end my-3">
            <span>Số tiền giảm:</span>
            <strong id="planDiscountPrice" class="text-primary fs-5"></strong>
          </div>

          <hr>

          <div class="d-flex justify-content-between align-items-end">
            <span>Tổng tiền trước thuế:</span>
            <strong id="planTotalPriceBeforeVAT" class="text-primary fs-5"></strong>
          </div>

          <div class="d-flex justify-content-between align-items-end">
            <span>VAT(8%):</span>
            <strong id="planVAT" class="text-primary fs-5"></strong>
          </div>

          <div class="d-flex justify-content-between align-items-end">
            <span>Tổng tiền:</span>
            <strong id="planTotalPrice" class="text-primary fs-5"></strong>
          </div>

          <hr>

          <div class="text-end">
            <a href="/upgrade" class="btn btn-danger btn-lg">
              <i class="bi bi-arrow-left-circle me-2"></i>Quay lại
            </a>
            <button id="confirmBtn" class="btn btn-primary btn-lg">
              <i class="bi bi-check-circle"></i> Xác nhận
            </button>
          </div>
        </div>
      </div>
    </div>

    <input type="hidden" id="currentUserId" value="<%= currentUserId %>">
    <%- include('../partials/commonjs.html') %>
      <script src="/js/sidebar-toggle.js"></script>
      <script src="/js/data-table.js"></script>
      <script src="/js/checkout-plan.js"></script>
      <%- include('../partials/footer.html') %>