<%- include('../partials/header.html') %>
  <%- include('../partials/org_sidebar.html') %>
    <div class="admin__content">
      <h2 class="mb-3 text-primary bold">
        <%= pageTitle %>
      </h2>

      <div class="price-toggle text-center"></div>
      <div class="row package__container justify-content-center">

      </div>

      <div class="my-4 fs-6 text-center"><span class="fw-bold fs-5">Lưu ý: </span>Giá trên chưa bao gồm thuế VAT</div>

    </div>

    </div>
    </div>

    <input type="hidden" id="currentUserId" value="<%= currentUserId %>">
    <%- include('../partials/commonjs.html') %>
      <script src="/js/sidebar-toggle.js"></script>
      <script src="/js/data-table.js"></script>
      <script src="/js/package.js"></script>
      <%- include('../partials/footer.html') %>