<div class="modal fade" id="confirmModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalTitle">Xác nhận</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body" id="confirmModalBody">
        Bạn có chắc chắn muốn thực hiện thao tác này?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-light text-primary border-primary rounded-pill px-4" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary rounded-pill px-4" id="confirmModalOk">Xóa</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>