<div class="<%= headerClass %>">
    <button id="toggleSidebar">
        <i class="bi bi-list"></i>
    </button>
    <div class="dropdown info">
        <a class="w-100 info__icon" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-person-circle fs-4"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end mt-2">
        <li class="px-3 mb-3">
            <span><%= user.username %></span>
            <span><%= user.email %></span>
            <span><%= user.role %></span>
        </li>
        <li id="change-password">
            <a class="w-100 dropdown-item">
            <i class="bi bi-shield-lock me-2"></i> Đổi mật khẩu
            </a>
        </li>
        <li id="logOut">
            <a class="dropdown-item w-100" id="logOutDropdown">
            <i class="bi bi-box-arrow-right me-2"></i> Đăng xuất
            </a>
        </li>
        <% if(user.role === 'Admin' && session.currentOrg) { %>
            <li id="back-to-admin">
                <form method="POST" action="/api/admin/exit-org">
                  <button type="submit" class="dropdown-item w-100">
                    <i class="bi bi-arrow-left-circle me-2"></i> Quay lại Admin
                  </button>
                </form>
            </li>
        <% } %>        
        
        </ul>
    </div>   
</div>