<div class="staff__layout">
  <div class="staff__header">
      <button id="toggleSidebar">
        <i class="bi bi-list me-2"></i>
    </button>
    <div class="dropdown info">
      <a class="w-100 info__icon" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-person-circle fs-4"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-end mt-2">
        <li class="px-3 mb-3">
          <span><%= user.username %></span>
          <span><%= user.email %></span>
        </li>
        <li id="change-password">
          <a class="w-100 dropdown-item">
            <i class="bi bi-shield-lock me-2"></i> Đổi mật khẩu
          </a>
        </li>
        <li id="logOut">
          <a class="dropdown-item w-100" id="logOutDropdown">
            <i class="bi bi-box-arrow-right me-2"></i> Đăng xuất
          </a>
        </li>
      </ul>
    </div>   
  </div>
  
  <div class="staff__main">
      <div id="staff__sidebar">
          <ul>
              <li class="<%= page === 'Dashboard' ? 'active' : '' %>">
                <a class="w-100" href="/">
                  <i class="bi bi-speedometer2 me-2 text-dark"></i>
                  <span>Dashboard</span>
                </a>
              </li>
          
              <li>
                <a class="w-100" href="/tables">
                  <i class="bi bi-grid-3x3-gap me-2 text-primary"></i>
                  <span>Quản lý Bàn</span>
                </a>
              </li>
          
              <li>
                <a class="w-100" href="/staff/orders">
                  <i class="bi bi-receipt me-2 text-success"></i>
                  <span>Đặt món & Thanh toán</span>
                </a>
              </li>
          
              <li>
                <a class="w-100" href="/staff/schedule">
                  <i class="bi bi-calendar3 me-2 text-warning"></i>
                  <span>Xem Lịch làm việc</span>
                </a>
              </li>
          
              <li>
                <a class="w-100" href="/staff/attendance">
                  <i class="bi bi-clock-history me-2 text-info"></i>
                  <span>Chấm công Vào/Ra</span>
                </a>
              </li>
          </ul>
      </div>
      <%- include('../users/update-user.html') %>
