<div class="staff__layout">
  <%- include('../partials/navbar.html') %>
    <div class="staff__main">
      <div id="staff__sidebar">
        <ul>
          <li class="<%= page === 'Dashboard' ? 'active' : '' %>">
            <a class="w-100" href="/">
              <i class="bi bi-speedometer2 me-2 text-dark"></i>
              <span>Dashboard</span>
            </a>
          </li>

          <li class="<%= page === 'Table' ? 'active' : '' %>">
            <a class="w-100" href="/tables">
              <i class="bi bi-grid-3x3-gap me-2 text-primary"></i>
              <span>Quản lý Bàn</span>
            </a>
          </li>

          <li class="<%= page === 'Orders' ? 'active' : '' %>">
            <a class="w-100" href="/orders">
              <i class="bi bi-receipt me-2 text-success"></i>
              <span>Đặt món (Gọi món)</span>
            </a>
          </li>

          <li class="<%= page === 'Receipt' ? 'active' : '' %>">
            <a class="w-100" href="/receipts">
              <i class="bi bi-cash-stack me-2 text-danger"></i>
              <span>Hóa đơn</span>
            </a>
          </li>

          <li class="<%= page === 'My Schedule' ? 'active' : '' %>">
            <a class="w-100" href="/my-schedule">
              <i class="bi bi-calendar3 me-2 text-warning"></i>
              <span>Xem Lịch làm việc</span>
            </a>
          </li>

          <li class="<%= page === 'Attendance' ? 'active' : '' %>">
            <a class="w-100" href="/staff/attendance">
              <i class="bi bi-clock-history me-2 text-info"></i>
              <span>Chấm công Vào/Ra</span>
            </a>
          </li>
        </ul>
      </div>
      <%- include('../users/update-user.html') %>