<%- include('../partials/header.html') %>
  <%- include('../partials/admin_sidebar.html') %>
    <div class="admin__content">
      <h2 class="mb-3 bold semi-bold">
        <%= pageTitle %>
      </h2>

      <table id="auditLogsTable" class="table table-bordered">
        <thead>
          <tr>
            <% if (user.role === 'Admin') { %>
            <th><input type="checkbox" id="selectAll"></th>
            <% } %>
            <th>Thời gian</th>
            <th>Người dùng</th>
            <th>Tổ chức</th>
            <th>Hoạt động</th>
            <th>Trạng thái</th>
          </tr>
        </thead>
        <tbody id="auditLogsTableBody">
        </tbody>
      </table>

    </div>

  </div>
</div>

<input type="hidden" id="currentUserId" value="<%= currentUserId %>">
<input type="hidden" id="userRole" value="<%= user.role %>">
<%- include('../partials/commonjs.html') %>
<%- include('../partials/sidebar_togglejs.html') %>
<%- include('../partials/data_tablejs.html') %>
<%- include('../partials/admin-orgjs.html') %>
<script src="/js/admin/audit-logs.js?ver=1.0.0"></script>
<%- include('../partials/footer.html') %>