<%- include('../partials/header.html') %>
  <%- include('../partials/admin_sidebar.html') %>
    <div class="admin__content bg-light-blue">
      <h2 class="mb-3 bold">
        <%= pageTitle %>
      </h2>
      

    </div>
  </div>
</div>

<input type="hidden" id="currentUserId" value="<%= currentUserId %>">
<%- include('../partials/commonjs.html') %>
<%- include('../partials/sidebar_togglejs.html') %>
<%- include('../partials/data_tablejs.html') %>
<%- include('../partials/admin-orgjs.html') %>
<script src="/js/admin/change-plan.js?ver=1.0.0"></script>
<%- include('../partials/footer.html') %>