<%- include('../partials/header.html') %>
  <%- include('../partials/admin_sidebar.html') %>
    <div class="admin__content">
      <h2 class="mb-3 bold">
        <%= pageTitle %>
      </h2>

      <table id="planTransactionTable" class="table">
        <thead>
          <tr>
            <th>
              <input type="checkbox" id="selectAll">
            </th>
            <th>Tổ chức</th>
            <th>Gói</th>
            <th>Thời hạn</th>
            <th>Giá gốc</th>
            <th>Giảm</th>
            <th>Tạm tính</th>
            <th>VAT (10%)</th>
            <th>Tổng cộng</th>
            <th>Ngày thanh toán</th>
            <!-- <th>Ngày hết hạn</th> -->
            <th>Trạng thái</th>
            <th>Duyệt</th>
          </tr>
        </thead>
        <tbody id="planTransactionTableBody">
        </tbody>
      </table>

    </div>

  </div>
</div>

<input type="hidden" id="currentUserId" value="<%= currentUserId %>">
<%- include('../partials/commonjs.html') %>
<%- include('../partials/sidebar_togglejs.html') %>
<%- include('../partials/data_tablejs.html') %>
<%- include('../partials/admin-orgjs.html') %>
<script src="/js/admin/plan-transaction.js?ver=1.0.0"></script>
<%- include('../partials/footer.html') %>