<%- include('../partials/header.html') %>
  <%- include('../partials/admin_sidebar.html') %>
    <div class="admin__content">
      <h2 class="mb-3 bold">
        <%= pageTitle %>
      </h2>

      <table id="planTable" class="table">
        <thead>
          <tr>
            <th>
              <input type="checkbox" id="selectAll">
            </th>
            <th>Mã gói</th>
            <th>Tên gói</th>
            <th>Giá tháng</th>
            <th>Giá năm</th>
            <th>Giá gốc</th>
            <th>Giới hạn kho</th>
            <th>Giới hạn nhân viên</th>
            <th>Trạng thái</th>
            <th>Ngày tạo</th>
            <th>Thao tác</th>
          </tr>
        </thead>
        <tbody id="planTableBody">
        </tbody>
      </table>

    </div>

    </div>
    </div>

    <input type="hidden" id="currentUserId" value="<%= currentUserId %>">
    <%- include('../partials/commonjs.html') %>
      <script src="/js/sidebar-toggle.js"></script>
      <script src="/js/data-table.js"></script>
      <script src="/js/admin/admin-org.js"></script>
      <script src="/js/admin/plan.js"></script>
      <%- include('../partials/footer.html') %>