<%- include('../partials/header.html') %>
  <%- include('../partials/org_sidebar.html') %>
    <div class="admin__content">
      <h3 class="fw-bold mb-4">
        <%= pageTitle %>
      </h3>
      <table id="tableTable" class="table table-bordered">
        <thead>
          <tr>
            <th>
              <input type="checkbox" id="selectAll">
            </th>
            <th>Tên bàn</th>
            <th>Trạng thái</th>
            <th>Sức chứa</th>
            <th>Khu vực</th>
          </tr>
        </thead>

        <tbody id="tableTableBody">

        </tbody>
      </table>
    </div>
  </div>
</div>
<%- include('../partials/commonjs.html') %>
<input type="hidden" id="currentUserId" value="<%= currentUserId %>">
<%- include('../partials/sidebar_togglejs.html') %>
<%- include('../partials/data_tablejs.html') %>
<script src="/js/admin/table.js?ver=1.0.0"></script>
<%- include('../partials/footer.html') %>