<%- include('../partials/header.html'); %>

<div class="bg-light d-flex align-items-center justify-content-center vh-100">
  <div class="text-center border p-5 bg-white rounded shadow position-relative">
    <i class="bi bi-exclamation-triangle-fill text-warning position-absolute top-0 start-0 m-3 fs-1"></i>
    <h1 class="display-1 text-danger">403</h1>
    <p class="fs-4 text-muted">You do not have permission to access this page.</p>
    <a href="/product" class="btn btn-danger mt-3">Go back to Product</a>
  </div>
</div>

<%- include('../partials/commonjs.html'); %>
<%- include('../partials/footer.html'); %>