#ingredientTable_wrapper {
    #ingredientTable {
        #ingredientTableBody {
            img {
                width: 50px;
                height: 50px;
                object-fit: cover;
                border-radius: 8px;
                margin: 0 auto;
                cursor: pointer;
            }
            select {
                &.form-select-sm {
                    border: none;
                    box-shadow: none;
                }
            }
        }
    }
}

table {
    thead {
        th {
            position: relative;

            input[type=checkbox] {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 0.25rem;
            }
        }
    }

    tbody {
        td {
            position: relative;

            input[type=checkbox] {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 0.25rem;
            }
        }
    }
}

.modal-body {
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  overflow: hidden;
}
    