<%- include('../partials/header.html') %>
<%- include('../partials/admin_sidebar.html') %>
<div class="admin__content">
    <h2 class="mb-4">QUẢN LÝ NGUYÊN LIỆU</h2>

    <table id="ingredientTable" class="table table-bordered">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" id="selectAll" class="selectAll">
                </th>
                <th>Ảnh</th>
                <th>Tên</th>
                <th>Đơn vị</th>
                <th>Danh mục</th>
                <th>Mức tồn tối thiểu</th>
                <th>Ghi chú</th>
              </tr>
        </thead>
        <tbody id="ingredientTableBody">

        </tbody>
    </table>
</div>

</div>
</div>
<input type="hidden" id="currentUserId" value="<%= currentUserId %>">
<%- include('../partials/commonjs.html') %>
<script src="/js/sidebar-toggle.js"></script>
<script src="/js/update-user.js"></script>
<script src="/js/ingredient.js"></script>
<%- include('../partials/footer.html') %>