<%- include('../partials/header.html') %>
<%- include('../partials/admin_sidebar.html') %>
<div class="admin__content">
    <h2 class="mb-4 bold"><%= pageTitle %></h2>

    <table id="ingredientTable" class="table table-bordered">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" id="selectAll" class="selectAll">
                </th>
                <th>Ảnh</th>
                <th>Tên</th>
                <th>Đơn vị</th>
                <th>Danh mục</th>
                <th>Tồn kho</th>
                <th>Ghi chú</th>
              </tr>
        </thead>
        <tbody id="ingredientTableBody">

        </tbody>
    </table>
</div>

</div>
</div>
<div class="modal fade" id="imageCropModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cắt ảnh</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body text-center">
        <input type="file" id="imageInput" accept="image/*" class="d-none">
        <img id="imagePreview" style="max-width: 100%; max-height: 400px;" />
      </div>
      <div class="modal-footer">
        <button id="cropBtn" class="btn btn-primary">Lưu</button>
      </div>
    </div>
  </div>
</div>
<input type="hidden" id="currentUserId" value="<%= currentUserId %>">
<%- include('../partials/commonjs.html') %>
<script src="/js/sidebar-toggle.js"></script>
<script src="/js/update-user.js"></script>
<script src="/js/ingredient.js"></script>
<%- include('../partials/footer.html') %>