<%- include('../partials/header.html') %>
  <%- include('../partials/org_sidebar.html') %>
    <div class="admin__content">
      <h2 class="mb-3 bold">
        <%= pageTitle %>
      </h2>

      <table id="ingredientTable" class="table table-bordered">
        <thead>
          <tr>
            <th><input type="checkbox" id="selectAll" class="selectAll"></th>
            <th>Ảnh</th>
            <th>SKU</th>
            <th>Tên</th>
            <th>Danh mục</th>
            <th>Tồn kho</th>
            <th>Đơn vị</th>
            <th>Hạn sử dụng</th>
            <th>Trạng thái</th>
            <th>Ghi chú</th>
          </tr>
        </thead>
        <tbody id="ingredientTableBody">

        </tbody>
      </table>
    </div>

    </div>
    </div>
    <%- include('../partials/cropper_modal.html') %>
      <input type="hidden" id="currentUserId" value="<%= currentUserId %>">
      <%- include('../partials/commonjs.html') %>
        <script src="/js/sidebar-toggle.js"></script>
        <script src="/js/data-table.js"></script>
        <script src="/js/inventory/ingredient.js"></script>
        <%- include('../partials/footer.html') %>