<%- include('../partials/header.html') %>
<%- include('../partials/admin_sidebar.html') %>
<div class="admin__content">
    <h2 class="mb-4 bold">PHIẾU XUẤT KHO</h2>

    <table id="stockIssueTable" class="table table-bordered">
        <thead>
            <th>
                <input type="checkbox" id="selectAll">
            </th>
            <th>Mã xuất kho</th>
            <th>Ngày xuất</th>
            <th>Loại xuất kho</th>
            <th>Nguyên liệu</th>
            <th>Số lượng</th>
            <th>Nhà kho</th>
            <th>Ghi chú</th>
        </thead>
        <tbody id="stockIssueTableBody">

        </tbody>
    </table>
</div>

</div>
</div>
<input type="hidden" id="currentUserId" value="<%= currentUserId %>">
<%- include('../partials/commonjs.html') %>
<script src="/js/sidebar-toggle.js"></script>
<script src="/js/update-user.js"></script>
<script src="/js/data-table.js"></script>
<script src="/js/stock-issue.js"></script>
<%- include('../partials/footer.html') %>