<%- include('../partials/header.html') %>
  <%- include('../partials/org_sidebar.html') %>
    <div class="admin__content">
      <h2 class="mb-3 bold">
        <%= pageTitle %>
      </h2>

      <table id="stockIssueTable" class="table table-bordered">
        <thead>

        </thead>
        <tbody id="stockIssueTableBody">

        </tbody>
      </table>
    </div>

  </div>
</div>
<input type="hidden" id="currentUserId" value="<%= currentUserId %>">
<%- include('../partials/commonjs.html') %>
<%- include('../partials/sidebar_togglejs.html') %>
<%- include('../partials/data_tablejs.html') %>
<script src="/js/stock-transaction/stock-issue.js?ver=1.0.0"></script>
<%- include('../partials/footer.html') %>