<%- include('../partials/header.html') %>
<%- include('../partials/admin_sidebar.html') %>
<div class="admin__content">
    <h2 class="mb-4 bold">LỊCH SỬ NHẬP/ XUẤT KHO</h2>
    
    <table id="stockMovementTable" class="table table-bordered">
      <thead>
        <tr>
          <th><input type="checkbox" id="selectAll"></th>
          <th>Ngày</th>
          <th>Loại</th>
          <th>Nguyên liệu</th>
          <th>Kho xuất</th>
          <th>Kho nhận</th>
          <th>Số lượng</th>
          <th>Đơn giá</th>
          <th>Tham chiếu</th>
          <th>Ghi chú</th>
        </tr>
      </thead>
      <tbody id="stockMovementTableBody">
      </tbody>
    </table>
</div>

</div>
</div>
<input type="hidden" id="currentUserId" value="<%= currentUserId %>">
<%- include('../partials/commonjs.html') %>
<script src="/js/sidebar-toggle.js"></script>
<script src="/js/update-user.js"></script>
<script src="/js/data-table.js"></script>
<script src="/js/stock-movement.js"></script>
<%- include('../partials/footer.html') %>