<%- include('../partials/header.html') %>
  <%- include('../partials/org_sidebar.html') %>
    <div class="admin__content">
      <h2 class="mb-3 bold">
        <%= pageTitle %>
      </h2>

      <table id="supplierTable" class="table table-bordered">
        <thead>
          <tr>
            <th class="text-center">
              <input type="checkbox" id="selectAll">
            </th>
            <th>Mã NCC</th>
            <th>Tên</th>
            <th>Điện thoại</th>
            <th>Email</th>
            <th>Quốc gia</th>
            <th>Địa chỉ</th>
            <th>Mã số thuế</th>
            <th>Ghi chú</th>
            <th>Trạng thái</th>
          </tr>
        </thead>

        <tbody id="supplierTableBody">

        </tbody>
      </table>

    </div>

    </div>
    </div>
    <input type="hidden" id="currentUserId" value="<%= currentUserId %>">
    <%- include('../partials/commonjs.html') %>
      <script src="/js/sidebar-toggle.js"></script>
      <script src="/js/data-table.js"></script>
      <script src="/js/inventory/supplier.js"></script>
      <%- include('../partials/footer.html') %>