<%- include('../partials/header.html') %>
  <%- include('../partials/org_sidebar.html') %>
    <div class="admin__content">
      <h2 class="mb-3 bold semi-bold">
        <%= pageTitle %>
      </h2>

      <table id="activityLogsTable" class="table table-bordered">
        <thead>
          <tr>
            <th>Thời gian</th>
            <th>Người dùng</th>
            <th>Hoạt động</th>
            <th>Trạng thái</th>
          </tr>
        </thead>
        <tbody id="activityLogsTableBody">
        </tbody>
      </table>

    </div>

    </div>
    </div>
    <input type="hidden" id="currentUserId" value="<%= currentUserId %>">
    <%- include('../partials/commonjs.html') %>
      <script src="/js/sidebar-toggle.js"></script>
      <script src="/js/data-table.js"></script>
      <script src="/js/activity-logs.js"></script>
      <%- include('../partials/footer.html') %>