<%- include('../partials/header.html') %>
<%- include('../partials/admin_sidebar.html') %>
<div class="admin__content">
    <h1>Welcome, <%= user.username %></h1>
</div>
</div>
</div>
<%- include('../partials/commonjs.html') %>
<input type="hidden" id="currentUserId" value="<%= currentUserId %>">
<script src="/js/update-user.js"></script>
<script src="/js/sidebar-toggle.js"></script>
<%- include('../partials/footer.html') %>

<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse ">
        <div class="accordion-body">
          
        </div>
      </div>
    </div>
</div>
