<%- include('../partials/header.html') %>    

<div class="container mt140">
    <div class="row justify-content-center">
      <div class="col-sm-8 col-md-6">
        <div class="card">
  
          <div class="card-header bg-white">
            <h3 class="card-title text-left fw-bold t_purple">Find Your Account</h3>
          </div>
  
          <form action="#" method="POST" id="forgot-password">
  
            <div class="card-body">
              <p class="fs-5">Please enter your email address to search for your account.</p>
              <div class="mb-3">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email address">
              </div>
            </div>
  
            <div class="card-footer text-end bg-white">
              <a href="/login" class="btn btn-outline-secondary">
                <i class="bi bi-x-lg"></i> Cancel
              </a>
              <button type="submit" class="btn btn-outline-primary">
                <i class="bi bi-search me-1"></i>Search</button>
            </div>
  
          </form>
        </div>
      </div>
    </div>
  </div>
  <%- include('../partials/commonjs.html') %>    
  <script src="/js/users.js"></script>
  <%- include('../partials/footer.html') %>    

