<%- include('../partials/header.html') %>
  <%- include('../partials/org_sidebar.html') %>
    <div class="admin__content">
      <h2 class="mb-3 bold semi-bold">
        <%= pageTitle %>
      </h2>
      <div class="mb-3">
        <!-- <button id="btnCreatePayroll" class="btn btn-outline-primary">
          <i class="bi bi-calculator"></i> Tạo bảng lương
        </button> -->
      </div>

      <table id="payrollTable" class="table table-bordered">
        <tbody id="payrollTableBody">

        </tbody>
      </table>
    </div>

    </div>
    </div>
    <input type="hidden" id="currentUserId" value="<%= currentUserId %>">
    <%- include('../partials/commonjs.html') %>
      <script src="/js/sidebar-toggle.js"></script>
      <script src="/js/data-table.js"></script>
      <script src="/js/staff/payroll.js"></script>
      <%- include('../partials/footer.html') %>