<%- include('../partials/header.html') %>    
   
<div class="container mt160">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow-sm">

          <div class="card-header bg-white">
            <h3 class="card-title text-center fw-bold fs-5 t_purple">Reset Your Password</h3>
          </div>

          <form method="POST" action="#" id="reset-form" >

            <div class="card-body">

              <input type="text" name="username" autocomplete="username" class="dp-none" tabindex="-1" aria-hidden="true">
              
              <div class="mb-3">
                <label for="newPassword" class="form-label fw-bold">New Password</label>
                <input type="password" class="form-control" id="newPassword" placeholder="Enter new password" autocomplete="new-password">
              </div>

              <div class="mb-3">
                <label for="confirmPassword" class="form-label fw-bold">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" placeholder="Re-enter new password" autocomplete="new-password">
              </div>
              
            </div>
            
            <div class="card-footer text-end bg-white">
              <a href="/login" class="btn btn-outline-secondary">Cancel</a>
              <button type="submit" class="btn btn-primary">Reset</button>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>


<%- include('../partials/commonjs.html') %>    
<script src="/js/users.js"></script>
<%- include('../partials/footer.html') %>    