<%- include('../partials/header.html') %>
  <%- include('../partials/org_sidebar.html') %>
    <div class="admin__content">
      <h2 class="mb-4 bold semi-bold">
        <%= pageTitle %>
      </h2>

      <table id="scheduleTable" class="table table-bordered">
        <tbody id="scheduleTableBody">

        </tbody>
      </table>
    </div>

    </div>
    </div>
    <input type="hidden" id="currentUserId" value="<%= currentUserId %>">
    <%- include('../partials/commonjs.html') %>
      <script src="/js/sidebar-toggle.js"></script>
      <script src="/js/data-table.js"></script>
      <script src="/js/staff/schedule.js"></script>
      <%- include('../partials/footer.html') %>